/* @font-face {
    font-family: 'MonoplexKR-Italic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: rgb(39, 102, 59);
    --color-pink:  rgb(226,105,151);
    --color-grey : rgb(84, 83, 83);
    --color-green2 : rgb(172, 209, 127);
    --color-orange:rgb(245,183,88);
    --color-pastel_green: rgb(228, 236, 223);
    --color-deeppink:  rgb(203, 49, 108);
    --color-pastel_blue : rgb(219, 217, 217);

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro: 14px;

    --size-border-radius:4px;

    --animation-duration: 300ms;
}

    *{ box-sizing : border-box; }

    
    body{
        font-family : 'LeferiPoint-WhiteObliqueA' ,sans-serif;
        margin: 0;
    }

    a{
        text-align: center;
        color: var(--color-white);
    }

    ul{
        padding-left: 0;
    }

    li{
        list-style: none;
    }

    button{
        background-color: rgb(245,183,88);
        cursor: pointer;
        border: none;
        outline: none;
    }

    h1{
        font-size: var(--font-large);
        font-weight: bold;
        color: var(--color-black);
        margin: 16px 0px;
    }

    h2{
        font-size: var(--font-medium);
        color: var(--color-black);
        margin: 8px 0px;
    }

    h3{
        font-size: var(--font-regular);
        color: var(--color-black);
        margin: 8px 0px;
    }

    p{
        font-size: var(--font-regular);
        color: var(--color-black);
        margin: 4px 0;
    }

    /* Navbar */
    /* 네비바 고정시킴 */
    #navbar{
        position: fixed;
        /* 크기가 줄어듬 */
        width: 100%;
        display: flex;
        justify-content:space-between ;
        align-items: center;
        padding: 16px;
        background-color: var(--color-green);
        z-index: 1;
        /* 고정되게 */
        transition: all var(--animation-duration) ease-in-out;
        /* 부드럽게 */
    }

    /* 11/16 추가 */
    #navbar.navbar--bold{
        background-color: var(--color-deeppink);
        padding: 10px;
    }
    /* -- */
    
    .navbar__logo{
        font-size: var(--font-medium);
        font-weight: bold;
        color:var(--color-white)
    }

    .navbar__logo > a {
        text-decoration: none;
    }

    .navbar__menu{
        display: flex;
        /* margin: 0 */
    }

    
    .navbar__menu__item{
        padding: 8px 12px;
        margin: 0 4px;
        color: var(--color-white);
        cursor: pointer;
         /* 11/16 추가 */
        border: 1px solid transparent;
        border-radius: var(--size-border-radius);
    }

    .navbar__menu__item.active{
        border: 1px solid white;
        border-radius: var(--size-border-radius);
        
    }

    .navbar__menu__item:hover{
        border-color: var(--color-pastel_green);
        /* background-color: var(--color-orange); */
        
    }

    .navbar__toggle-btn{
        position: absolute;
        top: 20px;
        right: 32px;
        font-size: 24px ;
        color: var(--color-green);
        display: none;
        background-color: var(--color-white);
    }
    
    /* 홈 */
    #home{
        /* background: url(/img/bg2.png) center/cover no-repeat; */
        padding: 160px;
        text-align: center;
    }

    .home__avatar{
        width: 350px;
        height: 270px;
        border-radius: 50%;
        border: 2px solid var(--color-white);
    }

    .home__title , .home__description{
        color: var(--color-black);
    }

    .home__contact{
        color: var(--color-white);
        font-size: var(--font-regular);
        font-weight: bold;
        padding: 8px 12px;
        border: 2px solid var(--color-white);
        border-radius: var(--size-border-radius);
    }

    /* 11/16 추가 */
    .home__contact:hover{
        background-color: var(--color-green2);
    }


    /* section 공통 */
    .section{
        padding: 100px;
        text-align: center;
        margin: auto;
    }
    
    .section__container{
        max-width: 1200px;
        margin: auto;
    }

    .about__majors{
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }

    .major__icon{
        width: 170px;
        height: 170px;
        font-size: 70px;
        margin: auto;
        line-height: 170px;
        border: 1px solid var(--color-pink);
        border-radius: 50%;
        margin-bottom: 16px;
    }

    .major__icon i{
        transition: all var(--animation-duration) ease;
    }

    .major__icon:hover i {
        color: var(--color-pink);
        transform : rotate(-30deg) scale(1.1)
    }

    .major__title , .major__description {
        color: var(--color-grey)
    }


    .major__description{
        font-size: var(--font-small);
    }

    .job {
        display: flex;
        align-items: center;
    }

    .job__description{
        margin: 0 16px;
        text-align: left;
    }

    .job__name , .job__period {
        color: var(--color-grey)
    }

    .job__name{
        font-size: var(--font-small);
    }

    .job__period{
        font-size: var(--font-micro);
    }

/* 회사 로고 이미지 줄일꺼면 class 줘서 줄이기 */

/* 기술 */
#skills{
    background-color: var(--color-green2);
}

.skillset{
    display: flex;
    background-color: var(--color-grey);
    color: var(--color-white);
    margin: 20px 0;
}

.skillset__title{
    color: var(--color-white);
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-black);
    padding: 20px 40px;
}

.skill{
    margin-bottom: 32px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-green);
}

.skill__value{
    height: 3px;
    background-color: var(--color-pink);
}

.skillset__right{
    flex-basis: 40%;
}

.tools{
    padding:20px ;
    background-color: var(--color-pink);

}

.etc{
    padding:40px ;
    text-align: center;
}

/* 내 작업실 */

/* .abc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.work__categories{
    margin: 40px;
}

.category__btn{
    /* border: 1px solid var(--color-grey); */
    border-radius:var(--size-border-radius) ;
    font-size: var(--font-regular);
    padding: 8px 48px; 
    color: var(--color-white); 
    background-color: var(--color-green); 
    width: 250px;
    margin: 10px;
}


.category__btn.selected , 
.category__btn:hover {
    background-color: var(--color-grey);
}


.category__btn.selected .category__count ,
.category__btn:hover .category__count  {
    opacity: 1;
    top:0;
}

.category__count {
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-black);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in ;
}


.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 11/16 추가 */
.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translate(40px);
}
.project.invisible {
    display: none;
}
/* -- */



.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-pastel_green);
}



.project__img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.project__description{
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    /* column 주면 수직정렬 */
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;

}



.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3::after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-green);
}
/* h3 다음에 나오는 요소를 꾸며준것 */



/* 추천서 */

#testimonials{
    background-color: var(--color-green2); 
}

.testimonials{
    margin: 40px;
}

.testimonial{
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.testimonial__avatar:nth-child(odd){
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
    margin-left: 40px;
}

.testimonial__speech-bubble{
    padding: 28px;
    background-color: var(--color-grey);
    border-radius: var(--size-border-radius);
}


.testimonial__speech-bubble p {
    background-color: var(--color-grey);
    color: var(--color-white);
}

.testimonial__speech-bubble a {
    /* background-color: var(--color-green2); */
    color: var(--color-green2);
    text-decoration: none;
}

#contact{
    background-color: var(--color-pastel_blue);
}
.contact__title , .contact__email , .contact__rights{
    color: var(--color-black);
}

.contact__title {
    margin: 32px 0;
}

.contact__link{
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__link:hover {
    transform: scale(1.1);
    color: var(--color-white);
}


/* 11/16 추가 */
/* 위로 가는 버튼  */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 27px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in ;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}





/* 사이즈 줄였을때 */
@media screen and (max-width:768px){
    .navbar__toggle-btn{
        display: block;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column; 
        text-align: center;
        width: 100%;
        display: none;
    }
    
    /* 11/16 추가 */
    /* 토글 */
    .navbar__menu.open {
        display: block;
        /* 메뉴가 밑으로 떨어짐 */
    }
    /* -- */

    .about__majors{
        flex-direction: column;
    }

    .major{
        margin-bottom: 38px;
    }

    .skillset{
        flex-direction: column;
    }

    .project{
        flex-grow: 1;
    }

    .testimonial__avatar{
        width: 80px;
        height: 80px;
    }




}
